{% extends "blog/base.html" %}
{% block title %}Курсовая работа{% endblock title %}
{% block header %}О нас{% endblock header %}
{% block content %}
    <div>
        <p>
            <h2>Разработка веб-сайта "Книжный каталог"</h2>
            <h3>Над проектом работала группа 326</h3>
            <h3>Ее участники:</h3> Алексеева Анастасия,<br>
            Патрушева Виолетта,<br>
            Хуснутдинова Венера,<br>
            Шегай Алина<br>
            <br>
            Проект "Книжный каталог" включает в себя библиотеку книг,<br>
            которые можно выбрать из категорий, по автору, найти в поиске, посмотреть по популярности.<br>
        </p>
    </div>
{% endblock %}