{% extends "blog/base.html" %}
{% block title %}Курсовая работа{% endblock title %}
{% block header %}О нас{% endblock header %}
{% block content %}
    <div>
        <p>
            Солнце садится, сверкая ресницами.<br>
            Ночь наступает. Только не спится мне.<br>
            Всё-то мне хочется<br>
            выведать в точности:<br>
            кто там играет зарницами?<br>
            <br>
            Я ворожу над бумажными листьями,<br>
            а между строк – небесные пристани.<br>
            Звёздные пажити<br>
            близкими кажутся.<br>
            Кто же там смотрит так пристально?<br>
        </p>
    </div>
{% endblock %}