{% extends "blog/base.html" %}
{% block title %}Все категории{% endblock title %}
{% block header %}Все категории{% endblock header %}
{% block content %}
    <div>
        {% for category in categorys %}
        <p>
            <a href="/category?cat_id={{category.id}}">
                {{category.title}}
            </a>
        </p>
        {% empty %}
        <p>
            К сожалению, в данном разделе книг еще нет.
        </p>
        {% endfor %}
    </div>
    <p>
        <a href="/">Назад</a>
    </p>
{% endblock content %}