{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <link rel="stylesheet" href="{% static 'css/style.css' %}">
        <title>{% block title %}Моя первая базовая страница{% endblock title %}</title>
    </head>
    <body>
        <div class="my_container">
            <div class="main_menu">
                <h1>{% block header %}{% endblock header %}</h1>
                <div class="menu_list">
                    <a class="btn_green" href="/">Главная</a>
                    <a class="btn_green" href="/allcategory">Все категории</a>
                    <a class="btn_green" href="/allauthor">Все авторы</a>
                    <a class="btn_green" href="/popularbook">Популярные книги</a>
                    <a class="btn_green" href="/aboutus">Инфо о нас</a>
                </div>
            </div>
            <div class="content">{% block content %}{% endblock content %}</div>  
        </div>
    </body>
</html>