{% extends "blog/base.html" %}
{% load static %}
{% block title %}Категория{% endblock title %}
{% block header %}Категория: {{category.title}}{% endblock header %}
{% block content %}
    <div class="book_list item_block">
        {% for book in books %}
        <div class="item">
            <div class="item_img">
                {% if book.image %}
                    <img src="{% static book.image %}" height="200px">
                {% else %}
                    <img src="{% static 'img/empty_img.jpg'%}" height="200px">
                {% endif %}
            </div>
            <div class="item_text">
                <a href="/book?book_id={{book.id}}">
                    {{book.title}}
                </a>   
            </div>
        </div>
        {% empty %}
        <p>
            К сожалению, в данном разделе книг еще нет.
        </p>
        {% endfor %}
    </div>
    <p>
        <a class="btn_green" href="/">Назад</a>
    </p>
{% endblock content %}