{% extends "blog/base.html" %}
{% load static %}
{% block title %}Моя библиотека{% endblock title %}
{% block header %}Моя библиотека{% endblock header %}
{% block content %}
    <h2>Популярные книги</h2>
    <div class="book_background">
        <div class="book_list item_block">
            {% for book in popularbook %}
            <div class="item">
                <div class="item_img">
                    {% if book.image %}
                        <img src="{% static book.image %}" height="200px">
                    {% else %}
                        <img src="{% static 'img/empty_img.jpg' %}" height="200px">
                    {% endif %}
                </div>
                <div class="item_text">
                    <a href="/book?book_id={{book.id}}">
                        {{book.title|truncatechars:20}}
                    </a>
                </div>
            </div>
            {% endfor %}
        </div>
        <div>
            <p class="text_center">
                <a class="btn_purple" href="/popularbook">Больше популярных книг</a>
            </p>
        </div>
    </div>
    <h2>Категории</h2>
    <div class="category_list">
        <ul>
            {% for category in categorys %}
            <li>
                <a href="/category?cat_id={{category.id}}">
                    {{category.title}}
                </a>
                <p>
                    {{category.content}}
                </p>
            </li>
            {% endfor %}
        </ul>
    </div>
    <h2>Авторы</h2>
    <div class="author_list">
        <div class="item_block">
            {% for author in authors %}
            <div class="item">
                <div class="item_img">
                    {% if author.image %}
                        <img src="{% static author.image %}" height="200px">
                    {% else %}
                        <img src="{% static 'img/empty_img.jpg' %}" height="200px">
                    {% endif %}
                </div>
                <div class="item_text">
                <a href="/author?author_id={{author.id}}">
                    {{author.title}}
                    </a> 
                </div>
            </div>
            {% endfor %}
        </div>
        <div>
            <p class="text_center">
                <a class="btn_purple" href="/allauthor">Больше авторов</a>
            </p>
        </div>
    </div>
    <h2>Последние новости</h2>
    <div class="news_background">
        <div class="news_list">
            {% for new in news %}
            <div class="news_item">
                <div class="news_img">
                    {% if new.image %}
                        <img src="{% static new.image %}" height="200px">
                    {% else %}
                        <img src="{% static 'img/empty_img.jpg' %}" height="200px">
                    {% endif %}
                </div>
                <div>
                    {{new.cur_date |date:'d.m.Y'}}
                </div>
                <div class="news_text">
                    <h3> <a href="/new?new_id={{new.id}}">{{new.name}}</a></h3>
                    {{new.mini_content}}
                </div>
            </div>
            {% endfor %}
        </div>
        <p class="text_center">
            <a class="btn_green" href="/allnews">Больше новостей</a>
        </p>
    </div>
    <h2>Новинки</h2>
    <div class="book_background">
        <div class="book_list item_block">
            {% for book in newbooks %}
            <div class="item">
                <div class="item_img">
                    {% if book.image %}
                        <img src="{% static book.image %}" height="200px"> 
                    {% else %}
                        <img src="{% static 'img/empty_img.jpg' %} " height="200px">
                    {% endif %}
                </div>
                <div class="item_text">
                    <a href="/book?book_id={{book.id}}">
                        {{book.title|truncatechars:20}}
                    </a>
                </div>
            </div>
            {% endfor %}
        </div>
        <div>
            <p class="text_center">
                <a class="btn_purple" href="/newbook">Больше новинок</a>
            </p>
        </div>
    </div>
{% endblock content %}