{% extends "blog/base.html" %}
{% load static %}
{% block title %}Моя библиотека{% endblock title %}
{% block header %}Моя библиотека{% endblock header %}
{% block content %}
    <h2>Категории</h2>
    <div class="category_list">
        <ul>
            {% for category in categorys %}
            <li>
                <a href="/category?cat_id={{category.id}}">
                    {{category.title}}
                </a>
                <p>
                    {{category.content}}
                </p>
            </li>
            {% endfor %}
        </ul>
    </div>
    <h2>Авторы</h2>
    <div class="author_list item_block">
        {% for author in authors %}
        <div class="item">
            <div class="item_img">
                {% if author.image %}
                    <img src="{% static author.image %}" height="200px">
                {% else %}
                    <img src="{% static 'img/empty_img.jpg' %}" height="200px">
                {% endif %}
            </div>
            <div class="item_text">
               <a href="/author?author_id={{author.id}}">
                {{author.title}}
                </a> 
            </div>
        </div>
        {% endfor %}
    </div>
{% endblock content %}