{% extends 'blog/base.html' %}
{% load static %}
{% block header %}Новинки{% endblock header %}
{% block title %}Новинки{% endblock title %}
{% block content %}
    <h2>Новинки</h2>
    <div class="book_list item_block">
        {% for book in books %}
        <div class="item">
            <div class="item_img">
                {% if book.image %}
                    <img src="{% static book.image %}" height="200px">
                {% else %}
                    <img src="{% static 'img/empty_img.jpg' %}" height="200px">
                {% endif %}
            </div>
            <div class="item_text">
                <div class="book_price">
                    {{book.price}}₽
                </div>
                <a href="/book?book_id={{book.id}}">
                    {{book.title|truncatechars:20}}
                </a>
            </div>
        </div>
        {% endfor %}
    </div>
{% endblock content %}