body{
    font-family: sans-serif;
    background-color: rgba(50, 21, 5, 1);
    color: white;
}
a{
    color: white;
    text-decoration: none;
}
a:hover{
    text-decoration: underline;
}
.content{
    background-color: #aa4081;
    font-size: 16px;
    padding-top: 7px;
    padding-left: 25px;
    padding-right: 25px;
    padding-bottom: 7px;
}
.bg_image{
    border: 2px dashed purple;
    border-radius: 10px;
    width: 100%;
}
.category_list{
    background-color: coral;
    padding-left: 25px;
    padding-top: 5px;
    padding-bottom: 15px;
    padding-right: 25px;
    border-radius: 6px;
}
.category_list a{
    color:white;
}
.author_list{
    background-color: #bbc563;
    padding-left: 20px;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-right: 20px;
    border-radius: 6px;
    display: flex;
}
.my_container{
    width: 1140px;
    margin-right: auto;
    margin-left: auto;
}
.main_menu{
    background-image: url(../img/bg2.jpg);
    padding-top: 160px;
    padding-bottom: 180px;
    padding-left: 20px;
    padding-right: 20px;
}
.main_menu h1{
    color: white;
}
h1{
    text-align: center;
    font-size: 64px;
    font-family:  sans-serif;
    text-transform: uppercase;
}
.btn_green{
    border-radius: 6px;
    font-size: 18px;
    background-color: #bbc563;
    padding: 14px 36px;
    color: white;
    text-decoration: none;
    margin: 0px 10px;

}
.btn_green:first-child{
    margin-left: 0px;
}
.btn_green:last-child{
    margin-right: 0px;
}
.btn_green:hover{
    background-color: #d8e377;
}
.menu_list{
    text-align: center;
    margin-top: 20px;
}
.item_block .item{
    background-color: white;
    color: black;
    margin: 5px 10px;
    padding: 10px 12px;
    width: 220px;
    min-height: 270px;
    float: left;
}
.item_block .item:first-child{
    margin-left:0px;
}
.item_block .item:last-child{
    margin-right: 0px;
}
.item_block .item a{
    color:black;
}
.item_block .item .item_text{
    text-align: center;
    font-size: 18px;
    margin-top: 5px
}
.book_list{
    display: inline-block;
}
.item_block .item .item_img{
    text-align: center;
}
.book_block{
    margin-bottom: 25px;
    background: linear-gradient(to bottom, #aa4081, #6e2853);
}
.book_block h2{
    font-size: 40px;
    margin-bottom: 15px;
}
.book_block .book_text{
    padding: 10px 15px;
}
.book_block .book_img{
    padding-bottom: 5px;
}
.category_list ul{
    margin-left: 0px;
    padding: 5px;
}
.category_list ul li a{
    font-size: 22px;
}
.simple_list{
    background-color: coral;
    padding: 5px 20px 15px 20px;
    border-radius: 6px;
    margin-bottom: 20px;
}
.mar_t_b{
    margin-top: 15px;
    margin-bottom: 25px;
    display: inline-block;
}